h1 {
  font-family: sans-serif;
  font-weight: 100;
}
h2, h3, h4 {
  font-family: sans-serif;
  font-weight: 300;
}
p b {
  font-weight: 400;
}
.container li a,
p a {
  color: #66D;
}
.container li a:hover,
p a:hover {
  text-decoration: underline;
}
hr {
  border-top: 1px solid #DDD;
  margin: 40px 0;
}
.container-narrow {
  margin: 0 auto;
  max-width: 480px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Landing Page */
#landing .jumbotron {
  margin: 0;
  text-align: right;
}
#landing .jumbotron h1 {
  background: transparent url('/gfx/feather.svg') no-repeat left top;
  background-size: 256px 256px;
  padding-left: 100px;
  padding-top: 126px;
  font-size: 48px;
  line-height: 1;
  color: #111;
}
#landing .toc {
  margin-left: 36px;
}
#landing .toc h2 {
  text-align: center;
}
#landing .toc .middle {
  padding-left: 16px;
}
#landing .toc a {
  color: #111;
  padding: 10px;
}
#landing .toc a:hover,
.toc a:focus {
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #CCC;
}
@media (max-width: 767px) {
  #landing .toc .middle {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  #landing [class*="span"],
  #landing .uneditable-input[class*="span"],
  #landing .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #landing .jumbotron h1 {
    background-size: 128px 128px;
    padding-top: 54px;
    padding-left: 0;
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-left: 33px;
    margin-top: 40px;
  }
  #landing .toc h2 {
    text-align: right;
    margin-right:37px;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 36px;
  }
  #landing .toc a {
    padding: 5px 0;
  }
}
